@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --brand-black: #0E0E0E;
    --brand-white: #EEEEEE;
    --brand-gray: #E0E0E0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0 24px;
}

main {
    padding-top: 172px;
}

h1 {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 64px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

button {
    padding: 16px 24px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    width: 100%;
}

.primary {
    background-color: var(--brand-black);
    color: var(--brand-white);
}

.logo {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}

header {
    position: fixed;
    left: 16px;
    right: 16px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 12px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transform: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--brand-black);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--brand-black);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.glass-bg {
    border-radius: 20px;
    border: 2px solid #FFF;
    background: linear-gradient(273deg, rgba(255, 255, 255, 0.40) -2.8%, rgba(242, 242, 242, 0.50) 101.33%);
    backdrop-filter: blur(20px);
}

.project-showcase {
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 48px;
}

.thumbnail {
    width: 100%;
    border-radius: 32px;
    margin-bottom: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    padding: 32px;
    margin: 24px 0 0;
    width: 100%;
}

.cta, .credit {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.quote {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 12px;
}

.cs-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cs-thumbnail {
    width: 100%;
    border-radius: 32px;
}

.section {
    padding-bottom: 48px;
}

.first-child-section {
    padding-bottom: 16px;
}

.cs-asset {
    width: 100%;
    border-radius: 8px;
    padding-top: 16px;
}

.book-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: start;
    align-items: start;
}

.cs-splash {
    width: 100%;
    border-radius: 32px;
}

.book {
    width: 49%;
}

/* Desktop */

@media screen and (min-width: 1024px) {
     body {
        padding: 0 160px;
    }

    header {
        left: 160px;
        right: 160px;
    }

    .menu {
        display: none;
    }

    ul {
        display: inline-block;
    }

    li {
        margin-left: 24px;
    }

    .project-showcase {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 32%;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .cs-body {
        align-items: center;
    }

    .cs-splash, .cs-section {
        width: 70%;
    }

    .cs-thumbnail {
        height: 580px;
        
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        transition: all 0.2s;
    }
}