@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --brand-black: #0E0E0E;
    --brand-white: #EEEEEE;
    --brand-gray: #E0E0E0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0 24px;
}

main {
    padding-top: 172px;
}

h1 {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 64px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

button {
    padding: 16px 24px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.primary {
    background-color: var(--brand-black);
    color: var(--brand-white);
}

.logo {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}

header {
    position: fixed;
    left: 16px;
    right: 16px;
}

nav {
    display: flex;
    padding: 16px 24px;
    margin: 44px 0 0;
    justify-content: space-between;
    align-items: center;
}

.glass-bg {
    border-radius: 20px;
    border: 2px solid #FFF;
    background: linear-gradient(273deg, rgba(255, 255, 255, 0.40) -2.8%, rgba(242, 242, 242, 0.50) 101.33%);
    backdrop-filter: blur(20px);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: var(--brand-black);
    border-radius: 8px;
}

.top-bar, .bottom-bar {
    position: relative;
}

ul {
    list-style: none;
    overflow: hidden;
    display: none;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.project-showcase {
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 48px;
}

.thumbnail {
    width: 100%;
    border-radius: 32px;
    margin-bottom: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    padding: 32px;
    margin: 24px 0 0;
    width: 100%;
}

.cta, .credit {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.quote {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 12px;
}

.cs-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cs-thumbnail {
    width: 100%;
    border-radius: 32px;
}

/* Desktop */

@media screen and (min-width: 1024px) {
     body {
        padding: 0 160px;
    }

    header {
        left: 160px;
        right: 160px;
    }

    .menu {
        display: none;
    }

    ul {
        display: inline-block;
    }

    li {
        margin-left: 24px;
    }

    .project-showcase {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        width: 32%;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .cs-body {
        align-items: center;
    }

    .cs-splash, .cs-section {
        width: 70%;
    }

    .cs-thumbnail {
        height: 580px;
        
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}